/* Make the content area wider */
.quarto-container {
    max-width: 1200px;  /* Default is ~800px */
    margin: 0 auto;     /* Center the content */
}

.panel-tabset .nav-item {
    font-size: 16px !important;; 
}

.small-table {
  font-size: 12px;  /* or px, e.g. 12px */
}
table colgroup col {
    width: auto !important;
}
.btn-action-primary {
    color: white;
    background-color: #005eb8 !important;
}
  
.btn-action-primary:hover {
    background-color: #ffeb3b !important;
    color: #000 !important;
}
  
.btn-action {
    min-width: 165px !important;;
    border-radius: 30px !important;;
    border: none !important;;
}
  
.dt-buttons {
      /* margin-bottom: -7px; */
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      padding-bottom: 0.3em;
}
  
.figure-caption {
    color: #373a3c;
    font-size: 16px;
}
  
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #495057 !important;;
    background-color: #fff !important;;
    border-color: #dee2e6 #dee2e6 #fff !important;;
}
  
.tab-content {
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #fff;
}
  
.quarto-title-banner {
    padding-top: 30px;
    padding-right: 0px;
    padding-bottom: 40px;
    padding-left: 0px;
    margin-bottom: 0px;
}
  
.quarto-title-meta  {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin-bottom: 0px;
    background-color: #fff;
}
  
#title-block-header.quarto-title-block {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    margin-bottom: 0px;
    background-color: #fff;
}
  
  /* Position the logo in the top-left */
/*.logo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 80px;  
}*/

body {
    position: relative !important;; /* Ensures proper positioning */
}

.padded-left {
  padding-left: 20px;
}

.padded-right {
  padding-right: 20px;
}

.quarto-title {
      background-image: url("assets/images/NWL_NHS_White.png") !important;;
        display: block !important;;
        background-color: #005EB8 !important;;
        background-repeat: no-repeat !important;;
        background-size: 110px !important;;
        background-position: 0px 0px !important;;
}
  
.quarto-title p.subtitle {
        margin-top: 10px;
        font-size: 22px;
        font-weight: 300;
}
  
.quarto-title h1.title {
        text-indent: 4.0em;
        font-size: 30px;
        color:#fff;
}
  
.callout-caption-container {
    color: #005EB8 !important;;
}
  
.callout {
    background-color: white !important;;
    margin-top: 0.5rem !important;;
    margin-bottom: 0.5rem !important;;
    border-radius: .25rem !important;;
}
  
.callout-note.callout {
    border-left-color: #005EB8 !important;;
    background-color: white !important;;
}
  
.callout.callout-style-simple {
    padding: .01em .7em;
}
  
.title {
    font-size: 28px;
    color: white !important;
    font-weight: lighter;
}
  
h1, .h1 {
    font-size:30px;
    font-weight:600;
}
  
h2, .h2 {
   font-size:20px;
   font-weight:600;
}
  
h3, .h3 {
   font-size:18px;
   font-weight:600;
}
  
.header-section-number {
    color: #373a3c;
}
  
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

  
.opensans {
    font-family: "Open Sans", sans-serif !important;;
}
  
body {
   -moz-osx-font-smoothing:grayscale;
   -webkit-font-smoothing:antialiased;
  font-family: 'Open Sans', sans-serif !important;;
}

.leaflet-container {
    border: 3px solid #1a5276;  /* Blue border */
    border-radius: 10px;  /* Rounded corners */
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2); /* Soft shadow */
    height: 90vh;
}

body {
  font-family: 'Open Sans', sans-serif !important;
  background-color: #f0f4f5 !important;
  color: #333 !important;
}

/* Links */
a {
  color: #005EB8 !important;
  text-decoration: none !important;
}

a:hover {
  text-decoration: underline !important;
}

/* Tables */
table {
  width: 100% !important;
  border-collapse: collapse !important;
}

table th, table td {
  border: 1px solid #cdd4d9 !important;
  padding: 0.75rem !important;
  text-align: left !important;
}

table th {
  background-color: #005EB8 !important;
  color: #fff !important;
}

/* Callouts */
.callout, .card {
  border-radius: 12px !important;
  border: 1px solid #cdd4d9 !important;
  background-color: #ffffff !important;
  padding: 1rem !important;
  margin-bottom: 1rem !important;
}


/* Custom Logo */
.logo {
  position: absolute !important;
  top: 10px !important;
  left: 10px !important;
  width: 80px !important;
}

.nhs-border {
  border: 2px solid #003087;   /* NHS Blue */
  border-radius: 4px;          /* Soft rounded corners */
  padding: 12px 16px;
  background-color: #ffffff;   /* Clean white background */
  box-shadow: 0px 2px 6px rgba(0,0,0,0.1); /* Subtle lift */
  margin: 1em 0;
}

.text-box {
  border: 4px solid #005EB8;
  padding: 20px;
  width: 250px;
  text-align: center;
  border-radius: 10px;
  margin: 10px;
  color: black;      
}

.text-box .number {
  font-size: 48px;
  font-weight: bold;
}

.text-box .description {
  font-size: 16px;
}

.text-box-first {
  background-color: #009639;/* Different color for first box */
  color: white;
}